---
const res = await fetch (`${Astro.url.origin}/api/noco.json`);
const data = await res.json();
---
<ul>
  {data.list.map((post) => (
  <li>
    <div class="noco-namainit">
      <div>
        {post.nama_init}
      </div>
      {post.rsvp}
    </div>
    <div class="noco-ucapan">
      <div class="txt-b">{post.nama}</div>
      {post.comment}
    </div>
  </li>
  ))}
</ul>
<a href=`${Astro.url.origin}/ucapan` target=_ >Lihat lebih banyak <img src="/images/new-tab.svg" alt=""></a>
