---
const res = await fetch (`${Astro.url.origin}/api/noco.json`);
const data = await res.json();
---
<ul>
  {data.list.map((formData) => (
  <li>
    <div class="noco-namainit">
      <div>
        {formData.nama_init}
      </div>
      {formData.rsvp}
    </div>
    <div class="noco-ucapan">
      <div class="txt-b">{formData.nama}</div>
      {formData.comment}
    </div>
  </li>
  ))}
</ul>
<a href=`${Astro.url.origin}/ucapan` target=_ >Lihat lebih banyak <img src="/images/new-tab.svg" alt=""></a>
